In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('election-fundamentals.csv')
df.head()

,year,incumbent_president,incumbent_party,term,highest_approval,lowest_approval,year_gdp_growth,winner
0,1960,Esienhower,R,2,79,47,2.6,D
1,1964,Johnson,D,1,79,34,5.8,D
2,1968,Johnson,D,2,79,34,4.8,R
3,1972,Nixon,R,1,66,24,5.3,R
4,1976,Nixon,R,2,66,24,5.4,D

In [3]:
df['incumbent_president'][5]

'Carter'

In [5]:
df.loc[2:5, ['incumbent_president', 'winner']]

  incumbent_president winner
2             Johnson      R
3               Nixon      R
4               Nixon      D
5              Carter      R

In [6]:
df = df.set_index(df.year)
df

,year,incumbent_president,incumbent_party,term,highest_approval,lowest_approval,year_gdp_growth,winner
year,,,,,,,,
1960,1960,Esienhower,R,2,79,47,2.60,D
1964,1964,Johnson,D,1,79,34,5.80,D
1968,1968,Johnson,D,2,79,34,4.80,R
1972,1972,Nixon,R,1,66,24,5.30,R
1976,1976,Nixon,R,2,66,24,5.40,D
1980,1980,Carter,D,1,74,28,-0.20,R
1984,1984,Reagan,R,1,71,35,7.26,R
1988,1988,Reagan,R,2,71,35,4.20,R
1992,1992,Bush,R,1,89,29,3.60,D
1996,1996,Clinton,D,1,73,37,3.80,D
2000,2000,Clinton,D,2,73,37,4.10,R
2004,2004,Bush,R,1,90,25,3.80,R
2008,2008,Bush,R,2,90,25,-0.30,D
2012,2012,Obama,D,1,69,38,2.20,D
2016,2016,Obama,D,2,69,38,1.50,R

In [7]:
df['incumbent_president'][1988]

'Reagan'

In [8]:
df.loc[1980:2012, :]

,year,incumbent_president,incumbent_party,term,highest_approval,lowest_approval,year_gdp_growth,winner
year,,,,,,,,
1980,1980,Carter,D,1,74,28,-0.20,R
1984,1984,Reagan,R,1,71,35,7.26,R
1988,1988,Reagan,R,2,71,35,4.20,R
1992,1992,Bush,R,1,89,29,3.60,D
1996,1996,Clinton,D,1,73,37,3.80,D
2000,2000,Clinton,D,2,73,37,4.10,R
2004,2004,Bush,R,1,90,25,3.80,R
2008,2008,Bush,R,2,90,25,-0.30,D
2012,2012,Obama,D,1,69,38,2.20,D

In [9]:
df.loc[1980:2012, 'winner']

year
1980    R
1984    R
1988    R
1992    D
1996    D
2000    R
2004    R
2008    D
2012    D
Name: winner, dtype: object

In [10]:
df.loc[1980:2012, ['term', 'winner']]

      term winner
year
1980     1      R
1984     1      R
1988     2      R
1992     1      D
1996     1      D
2000     2      R
2004     1      R
2008     2      D
2012     1      D

In [11]:
df.iloc[5, 1]
# iloc is integer location

'Carter'

In [12]:
df.iloc[:, -1] # -1 grabs the last column

year
1960    D
1964    D
1968    R
1972    R
1976    D
1980    R
1984    R
1988    R
1992    D
1996    D
2000    R
2004    R
2008    D
2012    D
2016    R
Name: winner, dtype: object

In [13]:
# Comparing a column gives a Series of booleans 
df.term == 2

year
1960     True
1964    False
1968     True
1972    False
1976     True
1980    False
1984    False
1988     True
1992    False
1996    False
2000     True
2004    False
2008     True
2012    False
2016     True
Name: term, dtype: bool

In [14]:
# We can grab only those rows by indexing with this series 
# (Maybe a little confusing, because the [] means rows not cols)
df[df.term == 2]

,year,incumbent_president,incumbent_party,term,highest_approval,lowest_approval,year_gdp_growth,winner
year,,,,,,,,
1960,1960,Esienhower,R,2,79,47,2.6,D
1968,1968,Johnson,D,2,79,34,4.8,R
1976,1976,Nixon,R,2,66,24,5.4,D
1988,1988,Reagan,R,2,71,35,4.2,R
2000,2000,Clinton,D,2,73,37,4.1,R
2008,2008,Bush,R,2,90,25,-0.3,D
2016,2016,Obama,D,2,69,38,1.5,R

In [16]:
two_terms = df.term == 2

df.loc[two_terms, 'incumbent_president'] = 'Gonzo'
df

,year,incumbent_president,incumbent_party,term,highest_approval,lowest_approval,year_gdp_growth,winner
year,,,,,,,,
1960,1960,Gonzo,R,2,79,47,2.60,D
1964,1964,Johnson,D,1,79,34,5.80,D
1968,1968,Gonzo,D,2,79,34,4.80,R
1972,1972,Nixon,R,1,66,24,5.30,R
1976,1976,Gonzo,R,2,66,24,5.40,D
1980,1980,Carter,D,1,74,28,-0.20,R
1984,1984,Reagan,R,1,71,35,7.26,R
1988,1988,Gonzo,R,2,71,35,4.20,R
1992,1992,Bush,R,1,89,29,3.60,D
1996,1996,Clinton,D,1,73,37,3.80,D
2000,2000,Gonzo,D,2,73,37,4.10,R
2004,2004,Bush,R,1,90,25,3.80,R
2008,2008,Gonzo,R,2,90,25,-0.30,D
2012,2012,Obama,D,1,69,38,2.20,D
2016,2016,Gonzo,D,2,69,38,1.50,R

In [17]:
df.loc['incumbent_president', 1972] = 'Fred'